body {
  margin:   0 0 0 0;
  padding:  0 0 0 0;
}

#header {
  clear:            both;
  float:            left;
  width:            100%;
  border-bottom:    1px solid #000;
}

table {
  border: none;
}

table tr {
}

table tr td {
}

table tr td.content {
  vertical-align:   top;
}

table tr td.menu {
}

#footer {
  clear:            both;
  float:            left;
  width:            100%;
  border-top:       1px solid #000;
}
