<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml" >
  
  <head>
    <title> <%= @host %> </title>
    <meta property="og:title"       content="<%= @host %>"/>
    <meta property="og:type"        content="movie"/>
    <meta property="og:urlx"        content="http://likeness.mlanett.contextoptional.com"/>
    <meta property="og:imagex"      content="http://likeness.mlanett.contextoptional.com/image.jpg"/>
    <meta property="og:site_name"   content="Likeness"/>
    <meta property="fb:app_id"      content="196788527025576"/>
    <meta property="og:description" content="Social Plugins for <%= @host %>"/>
  </head>
  
  <body>
    
    <%= yield %>
    
    <!-- Facebook Connect -->
    <div id="fb-root"></div>
    
  </body>
  
  <!-- Facebook Connect -->
  <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
  
</html>
