#wrapper
  #header
    %h1 Triptych - 3 Column Liquid Layout
  .colmask.triptych
    .colmid
      .colleft
        .col1wrap
          .col1
            / Column 1 start
            %h2 Column 1
        .col2
          / Column 2 start
          %h2 Column 2
        .col3
          / Column 3 start
          %h2 Column 3
  #push
#footer
  %p Thanks!
